<!-- <app-header></app-header> -->
<!-- <app-home></app-home> -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Commute - The Community Commuting App</a>
      <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/api/rideProviders/new">Register</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/smile">Smiles</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/billing">Billing</a></li>

      </ul>
    </div>
    </nav>
<div class="container">
    <h3 class="text-primary">Bill</h3>  
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <td>Bill Id</td>
                <td>{{bill.billId}}</td>
            </tr> 
            <tr>
                <td>Ride Id</td>
                <td>{{bill.tripId}}</td>
            </tr>
            <tr>
                <td>No Of Km</td>
                <td>{{bill.noOfKm}}</td>
            </tr>
            <tr>
                <td>Total Bill</td>
                <td>{{bill.totalBill}}</td>
            </tr>
            <tr>
                <td>No of Occupants</td>
                <td>{{bill.noOfOccupants}}</td>
            </tr>
            <!-- <tr>
                <td>Fee Id</td>
                <td>{{bill.feeId}}</td>
            </tr> -->
            <tr>
                <td>Cost per Occupant</td>
                <td>{{bill.costPerOccupant}}</td>
            </tr>
            <!-- <tr>
                <td>Your Bill</td>
                <td>{{bill.costPerOccupant}}*</td>
            </tr> -->
        </tbody>
    </table>
</div>